[submodule "animals-fun-facts"]
	path = animals-fun-facts
	url = https://github.com/Zhemchuzhnykov/animals-fun-facts
[submodule "starting-project"]
	path = starting-project
	url = https://github.com/Zhemchuzhnykov/starting-project
[submodule "tic-tac-toe-game"]
	path = tic-tac-toe-game
	url = https://github.com/Zhemchuzhnykov/tic-tac-toe-game
[submodule "investment-calculator"]
	path = investment-calculator
	url = https://github.com/Zhemchuzhnykov/investment-calculator
